/* YUI Lightbox Core CSS by Josh Lizarraga */

/* ! Mask */

.yui3-lightbox-mask {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: .70;
	*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
	z-index: 25000;
}

:root .yui3-lightbox-mask {
	-ms-filter: "none";
}

/* ! Bounding Box */

.yui3-lightbox {
	position: fixed !important;
	_position: absolute !important;
	top: 50% !important;
	left: 50% !important;
}

.yui3-lightbox-hidden {
	display: none !important;
}

/* ! Content Box */

.yui3-lightbox-content {
	position: relative;
	_width: 1px;
	border: 1px solid;
}

/* ! Body */

.yui3-lightbox .yui3-widget-bd {
	_width: 1px;
	margin: 10px 10px 0;
	padding-bottom: 9px;
}

.yui3-lightbox-canvas {
	width: 320px;
	height: 240px;
	border: 1px solid;
	overflow: hidden;
}

.yui3-lightbox-canvas-content {
	height: 100%;
}

.yui3-lightbox-canvas img,
.yui3-lightbox-canvas iframe {
	display: block;
	border: none;
	overflow: hidden;
}

.yui3-lightbox-throbber {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 170px;
	height: 30px;
	margin-top: -40px;
	margin-left: -90px;
	padding: 0 10px;
	line-height: 28px;
	text-align: center;
	overflow: hidden;
	z-index: 1;
}

.yui3-lightbox-throbber div {
	float: left;
	width: 10%;
	height: 100%;
	*margin-top: 8px;
}

.yui3-lightbox-throbber span {
	display: inline-block;
	width: 8px;
	height: 8px;
	font-size: 0;
	vertical-align: middle;
}

/* ! Footer */

.yui3-lightbox .yui3-widget-ft {
	height: 30px;
	margin: 0 10px;
	padding: 9px 0 10px;
	overflow: hidden;
}

.yui3-lightbox-nav,
.yui3-lightbox-controls {
	position: relative;
	width: 140px;
	height: 30px;
}

.yui3-lightbox-nav {
	display: none;
}

.yui3-lightbox .yui3-widget-ft p {
	height: 30px;
	margin: 0 140px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
}

/* ! Navigation */

.yui3-lightbox-nav {
	float: left;
	margin-right: -140px;
}

.yui3-lightbox-nav a {
	position: absolute;
	top: 0;
}

.yui3-lightbox-previous {
	left: 0;
}
.yui3-lightbox-next {
	right: 0;
}

.yui3-lightbox-counter {
	display: block;
	height: 30px;
	padding: 0 35px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
}

.yui3-lightbox-of {
	margin: 0 5px;
}

/* ! Controls */

.yui3-lightbox-controls {
	float: right;
	margin-left: -140px;
	text-align: right;
}

/* ! Buttons */

.yui3-lightbox-button {
	display: inline-block;
	position: relative;
	min-width: 28px;
	_width: 28px;
	height: 28px;
	border: 1px solid;
	line-height: 26px;
	text-align: center;
	z-index: 1;
}

.yui3-lightbox-button:active {
	top: 1px;
}

.yui3-lightbox-button span {
	position: absolute;
	top: 6px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left-width: 0;
	border-right-width: 0;
	_border-color: pink;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color=pink);
	line-height: 0;
}

.yui3-lightbox-button span:first-child {
	top: 5px;
}

.yui3-lightbox-previous span {
	left: 9px;
}
.yui3-lightbox-next span {
	right: 9px;
}
